<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Your Home | About Page</title>
    <link rel="stylesheet" href="../assets/css/output.css">
    <link rel="icon" href="../assets/img/logo.svg">
</head>
<body class="container pt-0 relative w-screen h-fit bg-cover mx-auto">
    <section class="relative z-50 w-full h-[45rem] px-4 lg:px-0">
        <header class="relative z-50 w-full md:h-28 flex items-center justify-between bg-gray-100 bg-opacity-50 backdrop-filter backdrop-blur-xl rounded-lg shadow-lg p-4 mt-4">
            <a href="../index.html"><img src="../assets/img/logo.svg" alt="logo" class="w-16 h-16 md:w-24 md:h-24"></a>

            <ul class="nav w-fit h-fit text-green_y text-xl md:text-2xl font-bold font-righteous">
                <li><a href="#" class="px-7 py-2 w-1/4 h-full hover:bg-green_y hover:text-white rounded-full">About</a></li>
            </ul>
        </header>

        <div class="w-full h-fit mt-4">
            <h1 class="text-green_y text-4xl font-bold">User Guide</h1>
            <p class="text-oxford_blue text-xl mt-4">Enter the location that you want weather data for and click the search button or the <b>ENTER</b> key on your key board.</p>
            <br>
            <p class="text-oxford_blue text-xl">Your display will change to a page with a search button and a list containing the results, of at most five places, that match the location you entered. By defualt the app displays the weather condition of the first location that matches your input.</p>
            <br>
            <p class="text-oxford_blue text-xl">To see the weather info for any of the listed locations click on it, and the info will be displayed in the content section below the search button</p>
            <br>
            <h1 class="text-green_y text-4xl font-bold">Note</h1>
            <p class="text-oxford_blue text-xl mt-4">- Country name codes are used instead of the country names. Example "Sierra Leone" becomes "SL".</p>
            <p class="text-oxford_blue text-xl">- The speed of your internet affects the app's load time.</p>
        </div>
    </section>
</body>
</html>