<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Your Home | Home Page</title>
    <link rel="stylesheet" href="../assets/css/output.css">
    <link rel="icon" href="../assets/img/logo.svg">
    <link rel="stylesheet" href="">
</head>
<body class="container w-screen bg-sky-200 mx-auto">
    <section class="w-full h-[45rem]">
        <header class="w-full md:h-28 flex items-center justify-between">
            <img src="../assets/img/logo.svg" alt="logo" width="110" height="60">

            <ul class="nav w-2/5 h-full hidden md:flex items-center justify-between text-oxford_blue text-2xl font-bold font-righteous">
                <li><a href="./index.html" class="px-7 py-2 w-1/4 h-full hover:bg-oxford_blue hover:text-blue-100 rounded-full">Home</a></li>
                <li><a href="./about.html" class="px-7 py-2 w-1/4 h-full hover:bg-oxford_blue hover:text-blue-100 rounded-full">About</a></li>
                <li><a href="./contact.html" class="px-7 py-2 w-1/4 h-full hover:bg-oxford_blue hover:text-blue-100 rounded-full">Contact</a></li>
            </ul>
        </header>

        <div class="mt-16 flex items-center justify-between w-full h-fit">
            <div class="p-0 m-0">
                <h1 class="text-oxford_blue text-6xl font-bold">You Can't Fight <br> What You Don't Know</h1>
            </div>
            <img src="../assets/img/weather-man.svg" alt="man">
        </div>
    </section>
</body>
</html>