<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Your Home | Home Page</title>
    <link rel="stylesheet" href="../assets/css/output.css">
    <link rel="icon" href="../assets/img/logo.svg">
</head>
<body class="container relative w-screen h-fit bg-cover bg-center mx-auto" style="background-image: url('../assets/img/sky.png')" id="body">
    <section class="relative z-50 w-full h-[45rem]" id="entry">
        <header class="relative z-50 w-full md:h-28 flex items-center justify-between bg-gray-100 bg-opacity-50 backdrop-filter backdrop-blur-xl rounded-lg shadow-lg p-4 mt-4">
            <img src="../assets/img/logo.svg" alt="logo" width="110" height="60">

            <ul class="nav w-2/5 h-full hidden md:flex items-center justify-between text-green_y text-2xl font-bold font-righteous">
                <li><a href="./index.html" class="px-7 py-2 w-1/4 h-full hover:bg-green_y hover:text-blue-100 rounded-full">Home</a></li>
                <li><a href="./about.html" class="px-7 py-2 w-1/4 h-full hover:bg-green_y hover:text-blue-100 rounded-full">About</a></li>
                <li><a href="./contact.html" class="px-7 py-2 w-1/4 h-full hover:bg-green_y hover:text-blue-100 rounded-full">Contact</a></li>
            </ul>
        </header>

        <section class="relative z-50 w-full h-fit p-4 mt-16">
            <form  id="myForm" action="" method="POST" class="w-full h-full flex items-center justify-center">
                <input type="text" name="place" class="w-5/6 h-20 text-4xl p-4 focus:outline-green-400" placeholder="Enter the region or area">
                <button type="submit" id="search_btn">
                    <div class="flex items-center justify-center text-white h-[5rem] w-[10rem] bg-gradient-to-br from-oxford_blue to-green-300"><img src="../assets/img/search-location.svg" alt="search" class="w-16 h-16"></div>
                </button>
            </form>
    
            <div class="empty_display w-full mt-16 h-fit grid grid-cols-3 gap-5">
                <div class="rounded-3xl shadow-lg hover:shadow-none bg-white bg-opacity-50 w-full h-60 p-4 flex flex-col justify-around items-center">
                    <img src="../assets/img/Vector.svg" alt="cloud" class="w-28 h-28">
                    <p class="text-3xl font-semibold text-oxford_blue">Know today's weather</p>
                </div>
                <div class="rounded-3xl shadow-lg hover:shadow-none bg-white bg-opacity-50 w-full h-60 p-4 flex flex-col justify-around items-center">
                    <img src="../assets/img/graph.svg" alt="cloud" class="w-28 h-28">
                    <p class="text-3xl font-semibold text-oxford_blue">Analyze the changes</p>
                </div>
                <div class="rounded-3xl shadow-lg hover:shadow-none bg-white bg-opacity-50 w-full h-60 p-4 flex flex-col justify-around items-center">
                    <img src="../assets/img/sun.svg" alt="cloud" class="w-28 h-28">
                    <p class="text-3xl font-semibold text-oxford_blue">Know tomorrow's weather</p>
                </div>
    
            </div>
        </section>

        <div class="relative z-50 mt-16 flex items-center justify-around w-full h-min">
            <div class="p-0 m-0 w-3/6 mb-16">
                <h1 class="text-oxford_blue text-8xl font-bold">You <span class="text-green_y">Can't Fight</span>  What <br> You <span class="text-green_y">Don't Know</span>!</h1>
                <p class="text-xl text-charcoal font-normal p-2">Studying the weather is crucial in the fight against climate change. It helps us identify patterns and trends that help us predict 
                    future weather events and prepare for them.<br>It is also important for developing new technologies and strategies to reduce greenhouse gas 
                    emissions and slow down climate change.
                </p>
            </div>
            <div></div>
        </div>
    </section>

    <section class="hidden w-full" id="main">
        <form  id="myForm2" action="./index.html" method="POST" class="mt-8 w-full h-full flex items-center justify-center">
            <input type="text" name="place2" class="rounded-l-full w-5/6 h-20 text-4xl p-4 pl-9 focus:outline-green-400 shadow-2xl" placeholder="Enter the region or area">
            <button type="submit" id="search_btn">
                <div class="flex items-center justify-center text-white h-[5rem] w-[10rem] bg-gradient-to-br from-oxford_blue to-green-300"><img src="../assets/img/search-location.svg" alt="search" class="w-16 h-16"></div>
            </button>
        </form>

        <section class="mt-10 w-full h-fit">
            <p class="text-6xl font-bold text-white">Search Results</p>
            <p class="text-md font-medium  mb-4 text-white">Select the location which weather info you want to know</p>
            <div class="relative w-1/2 h-fit bg-white shadow-xl bg-opacity-50 pt-0 p-4 border border-green-200 rounded-3xl">
                <div class="w-full h-full flex-col justify-around  font-medium px-4 pt-0 hover:cursor-pointer" id="options">
                    <!-- Dynamic content -->
                </div>
                
            </div>
        </section>

        <section class="mt-10 w-full h-fit mb-8">
            <p class="text-6xl font-bold text-white mb-4 ">Today's Weather</p>
            <div class="relative w-full h-fit mx-auto bg-black bg-opacity-50 p-4 border border-white rounded-3xl">
                <div class="w-1/3 h-fit flex items-end justify-between bg-oxford_blue p-4 rounded-3xl shadow-sky-200 shadow-sm text-white font-medium" id="location">
                    <p class="text-4xl" id="place">Location</p>
                    <p class="text-2xl" id="state">State</p>
                    <p class="text-2xl" id="country">Country</p>
                </div>
                <div class="w-full h-full mt-4 grid grid-cols-3 gap-5">
                    <div class="w-full h-full p-2 border-r border-white">
                        <div class="w-full h-32 flex justify-between items-center bg-white bg-opacity-80 rounded-lg p-4 mb-8">
                            <img src="../assets/img/sun.svg" alt="weather icon" class="h-full w-fit" id="img_w">
                            <div class="w-2/3 h-full flex flex-col justify-around" id="location-data">
                                <!-- Dynamic content -->
                            </div>
                        </div>
                        <div class="w-full h-32 flex justify-between items-center bg-white bg-opacity-80 rounded-lg p-4">
                            <div class="w-full h-full" id="location_data2">
                               <!-- Dynamic content -->
                            </div>
                        </div>
                    </div>
                    <div class="w-full h-full p-4 border-r border-white">
                        <p class="text-lg font-bold text-gray-100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur deleniti sit animi id, nesciunt veritatis voluptatibus modi dolorum obcaecati sint vel quibusdam voluptatem mollitia eligendi reiciendis ut doloribus labore odit laborum. Laboriosam quisquam molestias assumenda, non aut vitae maxime ab maiores ratione commodi, quas tempore et debitis officia voluptatibus, enim neque voluptas suscipit. Itaque beatae numquam ipsam dolore doloremque voluptatum.</p>
                    </div>
                    <div class="w-full h-full p-4">
                        <p class="text-lg font-bold text-gray-100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur deleniti sit animi id, nesciunt veritatis voluptatibus modi dolorum obcaecati sint vel quibusdam voluptatem mollitia eligendi reiciendis ut doloribus labore odit laborum. Laboriosam quisquam molestias assumenda, non aut vitae maxime ab maiores ratione commodi, quas tempore et debitis officia voluptatibus, enim neque voluptas suscipit. Itaque beatae numquam ipsam dolore doloremque voluptatum.</p>
                    </div>
                </div>
            </div>
        </section>

    </section>
    <script type="module" src="../API/search_loaction.js"></script>
</body>
</html>